.square {
  height: 1em;
  width: 1em;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background-color: #009;
  color: #fff;
}
.square:hover {
  background-color: #00f;
}
.boardrow {
  display: flex;
}