@trim: #DDD;
@trim2: #BBB;
@base: #000;

body, div, p, input {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em;
}

html, body, #main {
  width: 100%;
}

input {
  border: solid @base 1px;
  width: 8em;
  margin-bottom: .5em;
}

.body {
  padding: .5em;
}

.block {
  margin: .5em;
  width: 100%;
}

.flex {
  display: flex;
}

.v {
  flex-direction: column;
}

.header {
  display: flex;
  background-color: @trim;
  justify-content: space-between;
}

.btn {
  display: flex;
  align-items: center;
  padding: 0 .5em;
  height: 2em;
  cursor: pointer;
  background-color: @trim;
  &:hover {background-color: @trim2}
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
}

.box {
  padding: 1em;
  border: solid black 1px;
  background-color: white;
}

.link {
  text-decoration: none;
  color: black;
}

.logo {
  width: 10em;
  height: 2em;
  background-color: green;
}

.searchblock {
  width: 10em;
  margin: .5em;
}

.unsel {
  cursor: pointer;
}

.sel {
  cursor: pointer;
  background-color: @trim;
}

.indent {
  padding-left: .5em;
}

.trow {
  display: flex;
  width: 100%;
}

.thead {
  .trow;
  border-bottom: solid @base 1px;
}

.listing {
  .trow;
  margin: .5em 0;
  text-decoration: none;
  color: @base;
  cursor: pointer;
  &:hover {background-color: @trim}
  // &:hover {background: linear-gradient(#BBB, #EEE)}
}

.tcell {
  width: 25%;
}

.spacev1 {
  height: .5em;
}

.spacev2 {
  height: 1em;
}

.btncont {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: .5em;
}

.loadingcont {
  display: flex;
  align-items: center;
  padding: 0 .5em;
  height: 2em;
  cursor: pointer;
}

.hidden {
  display: none;
}

@keyframes flicker {
  0% {visibility: hidden}
  60% {visibility: visible}
}

.l1 {
  visibility: hidden;
  animation: flicker 1s step-end .4s infinite;
}
.l2 {
  visibility: hidden;
  animation: flicker 1s step-end .6s infinite;
}
.l3 {
  visibility: hidden;
  animation: flicker 1s step-end .8s infinite;
}